.btnGradient {
    width: 90%;
    padding: 3%;
    text-transform: uppercase;
    margin-bottom: 3%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btnGradient:hover {
    background-color: aqua;
}