.RegisterBox {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form>h1 {
    margin-bottom: 10%;
}

form>input {
    width: 90%;
    padding: 3%;
    margin-bottom: 7%;
}

.NotEqualPass {
    outline-color: red;
}

.EqualPass {
    outline-color: green;
}


label {
    width: 100%;
    margin-bottom: 1%;
}

.sucessRegister {
    text-align: center;
    color: white;
    text-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
