@import "../../base.scss";

nav {
  text-align: center;
  padding: 2%;
  width: 25%;
  margin: 2% 0 0 0;
  border-radius: 20px;
  height: 100%;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(2, 0, 36);
  background: $backgroundGradient;
  animation: $slide-in-left;
}

@media (min-width: 800px) {
  .btnMobile {
    display: none;
  }
}

@media (max-width: 800px) {
  nav {
    width: 100%;
  }
  .menuMobile {
    display: none;
  }
}
