.Title {
  width: 100%;
  padding: 2%;
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  color: white;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
