@import "../../base.scss";

* {
  padding: 0px;
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

.Link {
  display: flex;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(184, 195, 255);
  main {
    width: 83vw;
  }
}
