.cart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.cartList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2%;
}
