.LoginBox {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    min-width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


form>input {
    width: 90%;
    padding: 3%;
    margin-bottom: 7%;
}


button {
    width: 100%;
    padding: 3%;
    margin: 2%;
    text-transform: uppercase;
}

label {
    width: 100%;
    margin-bottom: 1%;
}

.loginMessage {
    color: red;
    margin-bottom: 4%;
}
