.formHeader {
    width: 100%;
}
.formBox {
    padding: 5% 15% 5% 15%;
}
.formHeader > h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 2%
}
.imgBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.imgView {
    width: 20%;
    margin: 2%;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 3%;
}

input {
    width: 90%;
    padding: 3%;
}

select,
option {
    width: 90%;
    padding: 3%;
}

textarea {
    width: 90%;
    padding: 2%;
    height: 300px;
    resize: none;
    overflow: auto;

}

label {
    margin-left: 3%;
    margin-top: 0.5%;
}

.actions {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.tableOptions {
    width: 100%;
    text-align: center;
}