.formHeader {
    width: 100%;
}
.formBox {
    padding: 5% 15% 5% 15%;
}

.formHeader > h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 2%;
    color: rgb(58, 0, 58)
}



.tableOptions {
    width: 100%;
    text-align: center;
}