nav {
    text-align: center;
    padding: 2%;
    width: 25%;
    margin: 2% 0 0 0;
    border-radius: 20px;
    height: 100%;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(107, 9, 121, 0.9472163865546218) 35%, rgba(0, 212, 255, 1) 100%);
}

@media (min-width: 600px) {

    .btnMobile {
        display: none;
    }

}

@media (max-width: 600px) {

    nav {
        width: 100%;
    }

    .menuMobile {
        display: none;
    }
}