.RecoveryBox {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageSystem {
    margin: 3%;
    margin-bottom: -3%;
    font-size: 1rem;
    color: red;
}

.forgotFailure {
    text-align: center;
}

.outlineRed{
    outline-color: red;
}